<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cheesejuice.fancymansion">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FancyMansion">
        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".EditStartActivity"
            android:exported="true"/>
        <activity
            android:name=".EditSlideActivity"
            android:exported="false" />
        <activity
            android:name=".EditChoiceActivity"
            android:exported="false" />
        <activity
            android:name=".EditEnterActivity"
            android:exported="false" />
        <activity
            android:name=".EditConditionActivity"
            android:exported="false" />

        <activity
            android:name=".ReadStartActivity"
            android:exported="true" />
        <activity
            android:name=".ReadSlideActivity"
            android:exported="false" />
    </application>

</manifest>